<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rong.im.mapper.SmsMapper">

    <select id="getSmsByPhone" resultType="com.rong.im.Bean.Sms" parameterType="java.lang.String">
        SELECT * FROM sms WHERE  phone= #{phone}
    </select>

    <insert id="insert" parameterType="com.rong.im.Bean.Sms" useGeneratedKeys="true">
        INSERT INTO sms(phone,smcode,create_time) VALUES(#{phone},#{smcode},#{createTime})
    </insert>

    <update id="update" parameterType="com.rong.im.Bean.Sms">
        UPDATE sms SET smcode=#{smcode}, create_time=#{create_time} WHERE phone=#{phone}
    </update>

</mapper>